<div class="wrapper">
  <div class="grid--full grid--table">
    <div class="grid__item small--hide medium--hide two-twelfths"></div>

    <div class="grid__item small--hide medium--hide large--four-twelfths">
      <nav class="nav-bar nav-bar--primary" role="navigation">
        <ul class="site-nav" id="AccessibleNav">
          {% if customer and customer.tags contains 'wholesale-40' or customer.tags contains 'wholesale-50' %}
            {% assign main_menu = settings.wholesale_menu %}
          {% else %}
          	{% assign main_menu = settings.main_menu %}
          {% endif %}

          {% for link in linklists[main_menu].links limit: 2 %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                <a href="{{ link.url }}" class="site-nav__link">
                  {{ link.title }}
                  <span class="icon icon-chevron-down" aria-hidden="true"></span>
                </a>
                <ul class="site-nav__dropdown">
                  <li class="wrapper">
                    <div class="grid">
                      {% for childlink in linklists[child_list_handle].links %}
                        <div class="grid__item one-quarter">
                          <h3>{{ childlink.title | escape }}</h3>
                          {% if childlink.title contains 'scent' %}
                            <div class="scents grid">
                              {% assign grandchild_list_handle = childlink.title | handleize %}
                              {% for grandchildlink in linklists[grandchild_list_handle].links %}
                                {% if linklists[grandchild_list_handle].links != blank %}
                                  <div class="grid__item one-third">
                                    <a href="{{ grandchildlink.url }}" class="{{ grandchildlink.title | handleize }}">{{ grandchildlink.title }}</a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          {% else %}
                            <ul>
                              {% assign grandchild_list_handle = childlink.title | handleize %}
                              {% for grandchildlink in linklists[grandchild_list_handle].links %}
                                {% if linklists[grandchild_list_handle].links != blank %}
                                  <li>
                                    <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
            {% else %}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="grid__item large--two-twelfths">
      <div class="site-nav--mobile site-nav__menu large--hide">
        <button type="button" class="site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
          <svg width="30px" height="20px" viewBox="0 0 30 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-29.000000, -34.000000)" fill="#ffffff" fill-rule="nonzero">
                <g transform="translate(30.000000, 35.000000)">
                  <polygon points="-1 10 -1 8 29 8 29 10"></polygon>
                  <polygon points="-1 1 -1 -1 29 -1 29 1"></polygon>
                  <polygon points="-1 19 -1 17 29 17 29 19"></polygon>
                </g>
              </g>
            </g>
          </svg>
        </button>
        <div class="open-left-overlay"></div>
      </div>

      <div class="site-header__logo text-center" itemscope itemtype="http://schema.org/Organization">
        <a href="/" itemprop="url" class="site-header__logo-link">
          <svg width="157px" height="40px" viewBox="0 0 157 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M119.940541,15.6234927 C116.591793,15.6234927 114.310606,17.3208585 113.24285,20.4246634 L113.24285,16.8843707 C113.24285,15.9144195 112.7574,15.2353951 111.495542,15.8174439 L104.652373,19.0182244 C103.924197,19.4061268 103.535798,19.8426146 103.535798,20.4246634 L103.535798,20.5702244 C103.535798,21.9766634 105.865608,22.1706146 105.865608,24.4498341 L105.865608,34.100761 C105.865608,36.3315902 103.924197,36.9134439 103.924197,38.2714927 L103.924197,38.4654439 C103.924197,39.0472976 104.409452,39.3868098 105.088809,39.3868098 L115.524037,39.3868098 C116.203394,39.3868098 116.688844,39.0472976 116.688844,38.4654439 L116.688844,38.2714927 C116.688844,36.9134439 114.116504,36.3315902 114.116504,34.100761 L114.116504,25.0802732 C114.116504,22.9464195 114.35923,20.4246634 115.912241,20.4246634 C118.339101,20.4246634 116.349068,24.9832976 120.765572,24.9832976 C123.580636,24.9832976 124.502718,22.8494439 124.502718,20.4246634 C124.502718,17.708761 122.804033,15.6234927 119.940541,15.6234927 Z M101.344828,31.8699317 C100.81095,32.7427122 100.034542,33.6642732 98.1415592,33.6642732 C96.9281289,33.6642732 95.9576189,32.694322 95.9576189,31.0453463 L95.9576189,19.4061268 L100.956624,19.4061268 C101.587553,19.4061268 102.073003,18.9212488 102.073003,18.2908098 L102.073003,17.2238829 C102.073003,16.5934439 101.587553,16.1083707 100.956624,16.1083707 L95.9576189,16.1083707 L95.9576189,11.2102244 C95.9576189,10.4342244 95.4237408,9.94934634 94.6471376,9.94934634 L93.5307582,9.94934634 C92.8998291,9.94934634 92.365951,10.4342244 92.2204721,11.2102244 C91.5893478,14.1684683 89.2597333,16.1083707 86.2991898,16.1083707 L85.3771077,16.1083707 C84.6977507,16.1083707 84.2607284,16.5448585 84.2607284,17.2238829 L84.2607284,18.2908098 C84.2607284,18.9212488 84.7459833,19.4061268 85.3771077,19.4061268 L87.2212719,19.4061268 L87.2212719,30.8999805 C87.2212719,36.768078 90.3276848,39.8716878 95.1323925,39.8716878 C100.422746,39.8716878 103.189187,35.9436878 103.189187,32.2092488 C103.189187,31.2878829 102.02438,30.9969561 101.344828,31.8699317 Z M137.507942,37.3985171 C135.517909,37.3985171 134.353297,34.3916878 134.353297,30.9485659 C134.353297,28.960078 135.37243,27.6506146 136.828195,27.6506146 C138.235727,27.6506146 139.497585,28.7661268 139.837557,31.6759805 L140.031854,33.9068098 C140.031854,35.5555902 139.109577,37.3985171 137.507942,37.3985171 Z M148.719383,34.100761 L147.651626,25.4197854 C146.875023,19.4061268 142.361273,15.6234927 135.857685,15.6234927 C130.907108,15.6234927 126.150828,17.3208585 126.150828,21.297639 C126.150828,23.1889561 127.509737,24.4498341 129.548199,24.4498341 C133.867651,24.4498341 132.508742,17.9512976 135.857685,17.9512976 C138.381597,17.9512976 138.721373,20.4246634 139.303679,26.1473951 L139.303679,26.292761 C138.090248,25.5653463 136.440186,25.0802732 134.40192,25.0802732 C129.790728,25.0802732 125.665378,27.6022244 125.665378,32.5003707 C125.665378,37.4954927 129.64525,39.8716878 134.838356,39.8716878 C138.04182,39.8716878 139.983231,38.7563707 141.002364,37.3501268 C141.390763,39.0958829 142.798296,39.6779317 145.710216,39.6779317 C148.379802,39.6779317 151.194671,39.3384195 151.194671,38.0775415 C151.194671,36.7194927 149.156014,37.5438829 148.719383,34.100761 Z M156.516073,8.82485854 C156.168291,8.30641951 155.573292,7.99676098 154.88339,7.97490732 C154.841406,7.97354146 154.798446,7.9729561 154.754705,7.9729561 C154.482884,7.9729561 154.174742,7.99754146 153.84883,8.02329756 C153.458088,8.05451707 153.015207,8.08983415 152.54655,8.08983415 C152.494412,8.08983415 152.441689,8.0894439 152.388965,8.08846829 C151.913473,8.08027317 151.176511,7.94349268 150.52625,7.82290732 C150.437986,7.80651707 150.350894,7.79032195 150.266145,7.77490732 C150.342302,7.73549268 150.420606,7.69510244 150.499888,7.65373659 C151.087271,7.3489561 151.752958,7.00339512 152.205407,6.85724878 C152.708628,6.6947122 153.193297,6.58837073 153.621141,6.49451707 C154.005245,6.41041951 154.33721,6.33763902 154.625043,6.23988293 C155.272961,6.02017561 155.765832,5.51637073 155.94314,4.89198049 C156.127088,4.24417561 155.957395,3.55949268 155.465501,2.96417561 C154.845898,2.2129561 154.195636,2.05529756 153.759395,2.05529756 C153.097613,2.05529756 152.472347,2.42602927 152.086486,3.04729756 C151.926361,3.30524878 151.780687,3.61139512 151.611776,3.96593171 C151.423532,4.36124878 151.210098,4.8094439 150.937496,5.2627122 C150.692818,5.66993171 150.205805,6.23949268 149.776008,6.74212683 C149.717621,6.81041951 149.660211,6.87734634 149.604558,6.94290732 C149.608659,6.85763902 149.612369,6.77002927 149.61647,6.68124878 C149.645956,6.02017561 149.679348,5.2707122 149.778937,4.80573659 C149.889462,4.28924878 150.039823,3.81666341 150.172414,3.39949268 C150.291531,3.02505366 150.39444,2.70134634 150.453608,2.40339512 C150.576435,1.78700488 150.429003,1.16846829 150.049196,0.70622439 C149.675247,0.250809756 149.117741,7.80487805e-05 148.479196,7.80487805e-05 C148.335084,7.80487805e-05 148.185504,0.0129560976 148.034949,0.0381268293 C147.231983,0.172370732 146.629174,0.572956098 146.337825,1.16593171 C146.06249,1.72593171 146.09139,2.39578537 146.417302,3.00378537 C146.561023,3.2716878 146.753758,3.55110244 146.976761,3.87480976 C147.225149,4.2352 147.506733,4.64378537 147.762932,5.10563902 C147.993746,5.5214439 148.244087,6.22876098 148.465136,6.85256585 C148.494818,6.93646829 148.524109,7.01900488 148.552619,7.0992 C148.480563,7.05315122 148.406554,7.00593171 148.331569,6.95793171 C147.773282,6.60202927 147.140791,6.19851707 146.787541,5.87988293 C146.395041,5.52573659 146.060146,5.15890732 145.764893,4.83539512 C145.500101,4.5454439 145.271436,4.29490732 145.042966,4.0947122 C144.657105,3.75676098 144.173998,3.57061463 143.681909,3.57061463 C142.828368,3.57061463 142.118548,4.10700488 141.783458,5.00534634 C141.498359,5.76729756 141.544248,6.48924878 141.912534,7.03812683 C142.260121,7.55617561 142.855315,7.86602927 143.545022,7.88788293 C143.58681,7.88924878 143.629575,7.88983415 143.673121,7.88983415 C143.945138,7.88983415 144.253084,7.86524878 144.579191,7.83929756 C144.970129,7.80827317 145.413009,7.7729561 145.881861,7.7729561 C145.934,7.7729561 145.986528,7.77334634 146.039447,7.77432195 C146.515134,7.78251707 147.252682,7.91929756 147.903334,8.03988293 C147.991402,8.05627317 148.077909,8.07227317 148.162267,8.0876878 C148.086305,8.12710244 148.008391,8.16749268 147.929305,8.20846829 C147.341532,8.5134439 146.675453,8.8592 146.223004,9.00534634 C145.719784,9.16807805 145.234529,9.27441951 144.806685,9.36827317 C144.422777,9.45237073 144.091202,9.52515122 143.803369,9.6227122 C143.155451,9.84261463 142.66258,10.3464195 142.485272,10.9706146 C142.301324,11.6186146 142.471017,12.3031024 142.962911,12.8984195 C143.582514,13.649639 144.232776,13.8072976 144.669212,13.8072976 C145.330799,13.8072976 145.956261,13.4365659 146.341926,12.8154927 C146.502246,12.5573463 146.648115,12.2510049 146.817027,11.896078 C147.005271,11.5009561 147.218314,11.0529561 147.490721,10.600078 C147.735594,10.1924683 148.223192,9.62251707 148.653185,9.11949268 C148.711376,9.05159024 148.768396,8.98505366 148.823854,8.91988293 C148.819949,9.00632195 148.815848,9.09510244 148.811942,9.18524878 C148.782261,9.8449561 148.748869,10.5928585 148.64967,11.0568585 C148.538754,11.5735415 148.388589,12.046322 148.255998,12.4634927 C148.136881,12.8379317 148.033972,13.1612488 147.974609,13.4593951 C147.852172,14.0755902 147.999409,14.694322 148.379216,15.1565659 C148.753165,15.6119805 149.310671,15.8627122 149.949216,15.8627122 C150.093328,15.8627122 150.243103,15.8498341 150.393463,15.8244683 C151.196429,15.6902244 151.799238,15.2898341 152.090782,14.6966634 C152.366118,14.1366634 152.337022,13.4668098 152.01111,12.8590049 C151.867389,12.5911024 151.674849,12.3114927 151.451651,11.9877854 C151.203263,11.6273951 150.921679,11.2190049 150.66548,10.7571512 C150.434861,10.3417366 150.184716,9.63539512 149.964057,9.01237073 C149.93418,8.9276878 149.904498,8.84437073 149.875793,8.76339512 C149.94824,8.81002927 150.022834,8.8574439 150.098405,8.90583415 C150.656106,9.26154146 151.288012,9.66446829 151.640871,9.9827122 C152.033371,10.3368585 152.36768,10.7031024 152.662738,11.0264195 C152.92792,11.316761 153.156781,11.5674927 153.385446,11.7678829 C153.771111,12.1058341 154.254609,12.2919805 154.746503,12.2921756 C155.599849,12.2921756 156.309669,11.7557854 156.644758,10.8574439 C156.930053,10.0952976 156.884164,9.37354146 156.516073,8.82485854 Z M9.80386891,27.4566634 L14.657395,13.9261268 L19.5109211,27.4566634 L9.80386891,27.4566634 Z M31.8385455,34.100761 L20.7727794,7.28202927 C20.0932271,5.68163902 19.1225219,4.95422439 17.4238366,4.95422439 L11.2114012,4.95422439 C10.5320443,4.95422439 10.0950219,5.29373659 10.0950219,5.87559024 L10.0950219,6.06954146 C10.0950219,7.2334439 12.6189336,8.73705366 11.8909535,10.6283707 L2.81502562,34.100761 C1.79589254,36.6711024 -3.90547264e-05,36.9134439 -3.90547264e-05,38.2714927 L-3.90547264e-05,38.4654439 C-3.90547264e-05,39.0472976 0.43678806,39.3868098 1.16496343,39.3868098 L8.34790871,39.3868098 C9.07588881,39.3868098 9.51271592,39.0472976 9.51271592,38.4654439 L9.51271592,38.2714927 C9.51271592,36.9134439 6.64922338,36.3315902 7.42582662,34.100761 L8.49358284,31.0939317 L20.8212072,31.0939317 L21.8889634,34.100761 C22.6655667,36.3315902 19.8020741,36.9134439 19.8020741,38.2714927 L19.8020741,38.4654439 C19.8020741,39.0472976 20.2389012,39.3868098 20.9184535,39.3868098 L33.488803,39.3868098 C34.2167831,39.3868098 34.6536102,39.0472976 34.6536102,38.4654439 L34.6536102,38.2714927 C34.6536102,36.9134439 32.8578739,36.6225171 31.8385455,34.100761 Z M82.5290418,33.2262244 C82.5366575,33.2188098 82.5446637,33.212761 82.5524746,33.2061268 L82.5524746,16.8357854 C82.5524746,15.9630049 81.8244945,15.6718829 80.4169622,15.8658341 L75.2097955,17.2035902 L73.1851985,17.8115902 C72.5058415,17.9083707 72.0690144,18.3934439 72.0690144,18.9269073 L72.0690144,19.1208585 C72.0690144,20.3333463 74.0104249,20.9153951 74.0104249,23.1946146 L74.0104249,31.8213463 C74.0104249,34.7795902 72.6028925,36.6711024 70.8071562,36.6711024 C68.6716438,36.6711024 67.6523154,35.1676878 67.7009386,31.1909073 L67.8466127,16.8357854 C67.8466127,15.9630049 66.9727632,15.6718829 65.5654261,15.8658341 L58.3338577,16.8357854 C57.6543055,16.932761 57.2174784,17.4178341 57.2174784,17.9512976 L57.2174784,18.1452488 C57.2174784,19.3577366 59.1588888,19.9397854 59.1588888,22.2190049 L59.1588888,30.3181268 C59.1588888,36.5255415 63.3328627,39.8716878 68.2348167,39.8716878 C70.856951,39.8716878 72.8333154,39.1961756 74.1685965,37.9464195 C74.5140356,37.6232976 74.8188577,37.2636878 75.0781811,36.8650537 C75.2383055,38.2406634 75.8665007,39.0231024 77.136951,39.3977366 C77.1699522,39.4074927 77.2047109,39.4123707 77.2390791,39.4123707 L83.305645,39.4123707 C83.7645381,39.4123707 84.0994323,39.241639 84.2222595,38.942322 C84.2552607,38.8619317 84.276155,38.7739317 84.276155,38.6752 L84.276155,38.520078 C84.276155,37.3950049 82.5290418,36.9294439 82.5290418,35.1448585 L82.5290418,33.2262244 Z M43.7777706,20.6186146 C43.7777706,19.2121756 44.5543739,17.854322 46.0589572,17.854322 C49.4077047,17.854322 47.8546935,24.4012488 52.5625455,24.4012488 C54.3582818,24.4012488 55.8144373,23.1403707 55.8144373,21.4430049 C55.8144373,18.2908098 51.7859423,15.6234927 45.6221301,15.6234927 C39.5553689,15.6234927 35.381395,18.6787122 35.381395,22.9948098 C35.381395,32.4033951 48.2428975,28.6689561 48.2428975,35.0221268 C48.2428975,36.9620293 47.0780903,37.6894439 45.6221301,37.6894439 C41.5938303,37.6894439 43.2438925,31.0453463 38.3903664,31.0453463 C36.4491512,31.0453463 34.9445679,31.9669073 34.9445679,34.1491512 C34.9445679,37.5438829 39.506941,39.8232976 45.6221301,39.8232976 C52.3684435,39.8232976 56.2026413,36.7194927 56.2026413,32.694322 C56.2026413,23.7708098 43.7777706,27.2627122 43.7777706,20.6186146 Z"></path>
          </svg>
        </a>
      </div>

      <div class="site-nav--mobile site-nav__cart large--hide right">
        <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
          <span class="icon-fallback-text">
            <span class="icon icon-cart" aria-hidden="true"></span>
            <span class="cart-count">{{ cart.item_count }}</span>
            <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
          </span>
        </a>
        <div class="open-right-overlay"></div>
      </div>
    </div>

    <div class="grid__item small--hide medium--hide large--four-twelfths">
      <nav class="nav-bar nav-bar--secondary" role="navigation">
        <ul class="site-nav" id="AccessibleNav">
          {% for link in linklists[main_menu].links offset: 2 %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                <a href="{{ link.url }}" class="site-nav__link">
                  {{ link.title }}
                  <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </a>
                <ul class="site-nav__dropdown">
                  <li class="wrapper">
                    <div class="grid">
                      {% for childlink in linklists[child_list_handle].links %}
                        <div class="grid__item one-quarter">
                          <h3>{{ childlink.title | escape }}</h3>
                          {% if childlink.title contains 'scent' %}
                            <div class="scents grid">
                              {% assign grandchild_list_handle = childlink.title | handleize %}
                              {% for grandchildlink in linklists[grandchild_list_handle].links %}
                                {% if linklists[grandchild_list_handle].links != blank %}
                                  <div class="grid__item one-third">
                                    <a href="{{ grandchildlink.url }}" class="{{ grandchildlink.title | handleize }}">{{ grandchildlink.title }}</a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          {% else %}
                            <ul>
                              {% assign grandchild_list_handle = childlink.title | handleize %}
                              {% for grandchildlink in linklists[grandchild_list_handle].links %}
                                {% if linklists[grandchild_list_handle].links != blank %}
                                  <li>
                                    <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </li>
                </ul>
              </li>
            {% else %}
              <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="grid__item small--hide medium--hide large--two-twelfths text-right">
      <div class="site-header__controls">
        <a class="site-header__search">
          <span class="icon icon-search"></span>
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="/account">
            <span class="icon icon-account"></span>
          </a>
        {% endif %}

        <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
          <span class="icon icon-cart" aria-hidden="true"></span>
          <span class="cart-count">{{ cart.item_count }}</span>
        </a>
      </div>
    </div>
  </div>
</div>