{% capture background_color %}{% endcapture %}
{% capture button_color %}{% endcapture %}
{% assign new = false %}

{% for tag in product.tags %}
  {% if tag contains 'background-color-' %}
    {% capture background_color %}{{ tag | remove: 'background-color-' }}{% endcapture %}
  {% endif %}

  {% if tag contains 'button-color-' %}
    {% capture button_color %}{{ tag | remove: 'button-color-' }}{% endcapture %}
  {% endif %}

  {% if tag contains 'new' %}
    {% assign new = true %}
  {% endif %}
{% endfor %}

{% if template == 'index' %}
  {% capture hover_image %}{% endcapture %}
  {% for image in product.images %}
    {% if image.alt contains 'hover' %}
      {% capture hover_image %}<img class="collection__item-hover-image" src="{{ image.src | img_url: '312x431' }}" data-rjs="{{ image.src | img_url: '624x862' }}">{% endcapture %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="collection__item collection__item--{{ product.handle }} {% if product.handle contains 'bsoap' %}bar-soap{% endif %} grid__item {% if product-grid-item == 'article' %}one-half{% else %}small--one-half {% if template == 'collection' %}medium--one-third large--one-third{% else %}medium--one-quarter large--one-quarter{% endif %}{% endif %}">
  <div class="collection__item-image-wrapper {% if hover_image != blank %}has-hover{% endif %}">
    <a href="{{ product.url | within: collection }}" class="grid__image">
      <img class="collection__item-standard-image" src="{{ product.featured_image.src | img_url: '312x431' }}" data-rjs="{{ product.featured_image.src | img_url: '624x862' }}" alt="{{ product.featured_image.alt | escape }}">

      {% unless hover_image != blank %}
        <img src="{{ 'collection-spacer.png' | asset_url }}">
      {% endunless %}

      {{ hover_image }}

      {% if product.compare_at_price > product.price %}
        <div class="collection__item-badge" {% if button_color != blank %}style="background-color: {{ button_color }};"{% endif %}>
          <span>Sale</span>
        </div>
      {% elsif new %}
        <div class="collection__item-badge" {% if button_color != blank %}style="background-color: {{ button_color }};"{% endif %}>
          <span>New</span>
        </div>
      {% endif %}
    </a>
  </div>

  <div class="collection__item-content-wrapper">
    <div class="collection__item-content">
      <h3>
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h3>

      <p {% if button_color != blank %}style="color: {{ button_color }};"{% endif %}>
        {% if product.available == false %}
          {{ 'products.product.sold_out' | t }}
        {% else %}
          {% if product.price_varies %}
            from
          {% endif %}

          {%- comment -%}
            If wholesale-40 customer and wholesale-40 product tag
          {%- endcomment -%}
          {% if customer and customer.tags contains 'wholesale-40' and product.tags contains 'wholesale-40' %}
            {% assign product_price = product.price | times: 0.6 | money %}
            {% assign product_compare_at_price = product.compare_at_price | times: 0.6 | money %}

          {%- comment -%}
            If wholesale-50 customer and wholesale-50 product tag
          {%- endcomment -%}
          {% elsif customer and customer.tags contains 'wholesale-50' and product.tags contains 'wholesale-50' %}
            {% assign product_price = product.price | times: 0.5 | money %}
            {% assign product_compare_at_price = product.compare_at_price | times: 0.5 | money %}

          {%- comment -%}
            If wholesale-50 customer and no wholesale-50 product tag, default to wholesale-40
          {%- endcomment -%}
          {% elsif customer and customer.tags contains 'wholesale-50' and product.tags contains 'wholesale-40' %}
            {% assign product_price = product.price | times: 0.6 | money %}
            {% assign product_compare_at_price = product.compare_at_price | times: 0.6 | money %}

          {%- comment -%}
            If normal customer
          {%- endcomment -%}
          {% else %}
            {% assign product_price = product.price | money %}
            {% assign product_compare_at_price = product.compare_at_price | money %}
          {% endif %}

          {% if product.compare_at_price > product.price %}
            {{ product_price }}
            <s>{{ product_compare_at_price }}</s>
          {% else %}
            {{ product_price }}
          {% endif %}

          {% if product.type != blank %}
            &ndash; <span>{{ product.type }}</span>
          {% endif %}
        {% endif %}
      </p>
    </div>

    <form id="AddToCartForm" method="post" action="/cart/add">
      {% if product.available == false %}
		<button class="BIS_trigger btn" data-product-data="{{ product | json | escape }}">Notify me when back in stock</button>
      {% else %}
        <div class="ro_widget hide"></div>
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <button id="AddToCart" type="submit" class="btn"><span class="small--hide medium--hide">{{ product_price }} &ndash; </span> Add to bag</button>
      {% endif %}

      {%- comment -%}
        Need to use style tag here because the bold app replaces the add to cart button
      {%- endcomment -%}

      {% style %}
        .collection__item--{{ product.handle }} button {
          background-color: {{ button_color }};
        }

        .collection__item--{{ product.handle }} button:hover {
          background-color: {{ button_color | color_darken: 10 }};
        }

        .collection__item--{{ product.handle }}:hover .collection__item-image-wrapper {
          background-color: {{ background_color }};
        }
      {% endstyle %}
    </form>
  </div>
</div>