{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    <div class="section-header">
      <p class="h1 section-header__left">{{ collection_title }}</p>

      <div class="section-header__right">
        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">More {{ collection_title }} &rsaquo;</a>
      </div>
    </div>

    {% unless forloop.last %}<hr>{% endunless %}
  {% endunless %}
{% endfor %}